body{
    background-color: #051828;
}
.bg-dark {
    background-color: #051828 !important;
}

.btn-iseazy{
    background-color: #EC227F;
    color: #ffffff;
}

.store-image--list{
    max-height: 250px;
}

.table-rounded{
    border-radius: 10px;
}

a {
    color: #051828;
    text-decoration: none;
}

a:hover, a:focus {
    color: #2A6496;
}
